* {
  text-align: center;
  background: linear-gradient(90deg, lightslategray, darkslategray);
/*   transition: background-color 2s ease-out 100ms; */
  color: white;
  margin: 50px;
  }

#get-joke-button {
  border-color: silver;
  border-width: 3px;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: x-large;
  margin-top: 100px;
  margin-bottom: 100px;
  border-radius: 10px;
}

#get-joke-button:hover {
  background-color: #ff1414;
  cursor: pointer;
}
